<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="header.component.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap" rel="stylesheet">


  </head>
  <body style="background: #F8E1C8;
  ">
  
  <div class="header">
    <img src="/assets/images/Logo.svg" class="image"/>
<a href="">
<button class="button button2 " id="button2" (click)="onClick()" data-depth="0.8">Order now         </button>
</a>
<a href="">
<button class="button button1">Contact us</button>   </a>
</div>
<div class="title">
<a href="">
<button class="button button3">
 <img src="./assets/images/ordernow.svg" class="img3" data-depth="-2"/>
</button>
</a>


<div id="scene">
<div class="container1"data-depth="1" id="text" >
<p data-depth="1">
 स्वाद र स्वास्थ्यको अचुक फण्डा !<br />
 सधै खाउ<br />Eggcellent अण्डा !!
</p>
</div>
<div class="images" data-depth="2" id="images">
<img src="/assets/images/top_egg.svg"  class="img1" data-depth="1.00"/>
<img src="/assets/images/omlate.svg"  class="img2" data-depth="1.5"/>


<img src="/assets/images/bottom_egg.svg"  class="img4" data-depth="1"/>
<img src="/assets/images/Star.svg"  class="img5" data-depth="1.5"/>
</div>

</div>
</div>












   <div class="container">
      <hr style="color: #FA8B40; height: 2px;padding-bottom:0px "/>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="column col3 ">
              <img src="/assets/images/shipping.svg" />
            </div>
            <div class="column col4">
              <h6>Free Shipping</h6>
              <p>Orders over $140</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="column col3">
              <img src="/assets/images/convenient.svg" />
            </div>
            <div class="column col4">
              <h6>Convinient Price</h6>
              <p>Orders over $140</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="column col3">
              <img src="/assets/images/gift.svg" />
            </div>
            <div class="column col4">
              <h6>Gift Service</h6>
              <p>Orders over $140</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="column col3">
              <img src="/assets/images/support.svg" />
            </div>
            <div class="column col4">
              <h6>24/7 Support</h6>
              <p>Orders over $140</p>
            </div>
          </div>
        </div>
      </div>

      <hr style="color: #FA8B40; height: 2px" />
    </div>



<div class="row">
  <div class="col-md-6 col1">
    <img src="/assets/images/image1.png" />

  </div>
  <div class="col-md-6 col2">
    <h1>
      Raised in an air-conditioned cage free environment!
    </h1>
    <p>
      Yes, you heard it right. We are probably the first company in Nepal to
      raise our hens cag e free allowing them a free open area where they
      can move freely and exhibit some of their natural behaviors, which
      caged hens cannot!<br />Air-conditioned systems are installed in our
      barns with programmable settings allowing humidity control which
      prevents bacteria/disease growth, new fresh air circulation and
      optimum environment which equals consistent egg size and quality from
      layers as well as consistent production!
    </p>
    <a class="a1" href="">
      <button class="button button4">
        Order cage-free eggs now <span>&#x2794;</span>
      </button>
    </a>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col5">
    <h1> Hens are fed the best feed and allowed to graze!</h1>
    <p>
      Our feeds are produced in a feed mill which provides flocks with the
      best nutrition, which is a key component in production of healthy,
      nutritious eggs. Pasture-raised eggs contain 2x more omega-3 fat, 3x
      more Vitamin D, 4x more Vitamin E than eggs from hens raised on
      traditional feed.
    </p>
    <a class="a2" href="">
      <button class="button button4">
        Get these nutrition-packed eggs
        <span>&#x2794;</span>
      </button>
    </a>
</div>
  <div class="col-md-6 col6">
    <img src="/assets/images/image1.png" />

  </div>

</div>

<div class="row">
  <div class="col-md-6 col1">
    <img src="/assets/images/image1.png" />
  </div>
  <div class="col-md-6 col2">
    <h1>Zero outside intervention!</h1>
    <p class="p1">
      Automated egg collection and grading system ensures less human contact
      which improves the hygiene of our eggs and reduces any human error and
      damaged eggs. Grading helps in quality assurance and identical
      packaging of eggs
    </p>
    <a class="a1" href="">
      <button class="button button5">
        Order cage-free eggs now <span>&#x2794;</span>
      </button>
    </a>

  </div>

</div>

<div class="container-fluid">
  <div class="polygon">
   <!-- <img src="/assets/images/polygon.png" class="img6" />-->

    <img src="/assets/images/polygon.png" class="img7" />


  </div>
  <div class="container">
    <h1 style=" color:white;">
      “Overall a great experience! The packaging<br />
      quality is excellent and delivery is right <br />
      on time every week. No smell plus no <br />compromise in nutrition. I
      highly recommend <br />
      <span style="color: #f37536">Eggcellent eggs</span>. “
    </h1>
    <img src="/assets/images/profile.png" />
        <h4 >
Salina Bade<br />House Wife</h4>
  </div>
</div>













  </body>
</html>
