<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="footer.component.css" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap" rel="stylesheet">


  </head>
  <body style="background-color: black">
    <div class="container">
      <img src="/assets/images/Logo.svg" class="image" />
      <p>
        Eggcellent eggs is a D2C brand of Nepal. Our main objective is to
        provide fresh cage free, grass fed, free range eggs to our customers. We
        produce our eggs from hens raised in cage-free and air-conditioned
        environment with automated egg collection facilities with zero human
        intervention resulting in production of healthy, nutritious eggs.
      </p>
      <hr style="color: gray; height: 2px" />
      <div class="footer-btn">
        <a href="">
          <button class="btn1">©Khojdeu.com, Inc 2022</button>
        </a>
        <a href="">
          <button class="btn1">Help</button>
        </a>
        <a href="">
          <button class="btn1">Privacy policy</button>
        </a>
        <a href="">
          <button class="btn1">Terms & Conditions</button>
        </a>
        <a href="">
          <button class="btn2">
            <img src="/assets/images/facebook.svg" />
          </button>
        </a>
        <a href="">
          <button class="btn2">
            <img src="/assets/images/twitter.svg" />
          </button>
        </a>
        <a href="">
          <button class="btn2">
            <img src="/assets/images/instagram.svg" />
          </button>
        </a>
        <a href="">
          <button class="btn2">
            <img src="/assets/images/whatsapp.svg" />
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
