<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="form.component.css" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap" rel="stylesheet">


  </head>
  <body style="background: #F8E1C8;
  ">
    <div class="container-fluid">
      <div class="images" >
        <img src="/assets/images/flower.svg"  class="img1"/>


      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col1">
           <a href=""> <h1>Let's get in touch.
            </h1></a>
            <form>
              <div class="form-group  dropdown">
                <select id=" inputState" class="form-control form-select">
                  <option selected>I want to invest</option>
                  <option>I want to work</option>
                  <option>I want to do</option>
                  <option>I want to help</option>
                  <option>I want to show</option>

                </select>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 fname">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control" id="fname" placeholder="Rinku">
                </div>
                <div class="form-group col-md-6 lname">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control" id="lname" placeholder="kumari">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group ">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="finnove@company.com">

                </div>
              </div>
              <div class="form-row">
                <div class="form-group ">
                  <label for="phnumber">Phone number</label>
                  <input type="text" class="form-control" id="phnumber" placeholder="+9779855091625">
                </div>
              </div>
              <div class="form group message">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="6" >Write your message here..</textarea>
              </div>


              <div class="form-group ">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" >
                  <label class="form-check-label" for="gridCheck">
                    <p >
                      I agree with your amazing
                      <span style="color: #f37536">privacy policy</span>
                    </p>

                  </label>
                </div>
              </div>
              <button type="button" class="btn btn-block col-md-5">Send</button>
            </form>
            </div>
          <div class="col-md-6 col2">
            <img src="/assets/images/egg.png" />
          </div>

        </div>
      </div>
    </div>

  </body>
  </html>
