<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="faq.component.css" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins&display=swap" rel="stylesheet">


  </head>
  <body style="background: #F8E1C8;
  ">
    <div class="container-fluid">
      <div class="images" >
       <!-- <img src="/assets/images/flower.svg"  class="img1"/>-->


      </div>


      <div class="container">
        <h1>Still curious?<br>Let us answer your questions!
        </h1>
        <mat-accordion class="accordian" multi="true" hideToggle>

        <mat-expansion-panel togglePosition="before">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="/assets/images/circle.svg" class="image" />
              Why Eggcellent Eggs?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes, our eggs reach your kitchen typically within 7 days of laying!
            If we are not able to sell our eggs within 7 days, we pull them off the shelves!
             So every egg you get from us will be guaranteed FRESH!
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="/assets/images/circle.svg" class="image" />

              What is the difference in eggs from caged hens and cage-free hens?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Cage-free eggs have more advantages than caged eggs. Because cage-free eggs
             are allowed to roam free and have access to outside spaces where they can graze on grass.
              This makes cage-free eggs twice more nutritious than caged eggs. Cage-free hens are happy
               hens which produce happy eggs.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="/assets/images/circle.svg" class="image" />

              What nutrition will I be getting from Eggcellent eggs?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Eggcellent Eggs contain almost every Vitamin and Minerals required by
            the human body. It contains Vitamin A, B12, B2, D, E,Calcium, Iron ,
            Potassium, Zinc, Manganese, Selenium, Folate and many more.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="/assets/images/circle.svg" class="image" />

              No human interference? How and Why?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Our farms have an automated egg collection and grading system which
             ensures no human interference. Reducing human contact improves the hygiene
              of our eggs and reduces any human error and damages.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="/assets/images/circle.svg" class="image" />

              All eggs are the same aren’t they?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            All eggs look the same but what makes them different is what they contain
            inside them. Researchers have found that hens which are range-free, grass-fed
            produce eggs containing twice times omega-3 fat, three times more Vitamin-D,
            four times more Vitamin E than eggs from hens that are caged and traditionally fed.
          </p>
        </mat-expansion-panel>


      </mat-accordion>


      </div>
    </div>
  </body>
  <html>















