.title {
    height: 600px
}

#images {
    position: absolute;
    z-index: 0;
}

.img1 {
    height: 194px;
    width: 255px;
}

.img2 {
    height: 326.1861000435483px;
    width: 353.39038503279005px;
    margin-left: 365.038330078125px;
    margin-top: 123px;
    border-radius: 0px;
    position: absolute;
    transform: rotate(9.89deg);
}

.img3 {
    position: absolute;
    height: 204.75651569511385px;
    width: 168.07424021330158px;
    border-radius: 0px;
    margin-top: 100px;
    margin-left: 920px;
}

.img4 {
    position: absolute;
    margin-left: 1000px;
    margin-top: 300px;
    height: 189px;
    width: 251px;
}

.img5 {
    position: absolute;
    margin-left: -260.24px;
    transform: rotate(4.46deg);
    border-radius: 55px;
    overflow: hidden;
    height: 500.9999965954956px;
    width: 500.9999965954956px;
    margin-top: 300px;
}

.container {
    z-index: 1;
    position: absolute;
    text-align: center;
    height: 392px;
    width: 883px;
}

.container p {
    color: black;
    font-family: "Plus Jakarta Display";
    font-size: 60px;
    font-weight: bold;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 100px;
    margin-left: 250px
}