<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="animation.component.css" />

</head>
<body style="background: #F8E1C8;">
  <div class="title">

    <div id="scene">
      <div class="container"data-depth="3" id="text" >
      <p >
        स्वाद र स्वास्थ्यको अचुक फण्डा !<br />
        सधै खाउ<br />Eggcellent अण्डा !!
      </p>
    </div>
    <div class="images" data-depth="4" id="images">
   <div data-depth="1.00" >   <img src="/assets/images/top_egg.svg"  class="img1"></div>
    <div data-depth="0.2">    <img src="/assets/images/omlate.svg"  class="img2"></div>
    <div data-depth="-6"><a href="">          <button class="button button3">
      <img src="/assets/images/ordernow.svg" class="img3"/>
    </button>
</a></div>
      <div data-depth="-2">   <img src="/assets/images/bottom_egg.svg"  class="img4"></div>
      <div  data-depth="-4">   <img src="/assets/images/Star.svg"  class="img5"></div>
    </div>

    </div>
  </div>

</body>
</html>
